* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.to-top {
    border: 1px solid;
    background: linear-gradient(to top,blue, pink,orange);
}
.to-right {
    border: 1px solid;
    background: linear-gradient(to right,blue, pink,orange);
}
.to-left {
    border: 1px solid;
    background: linear-gradient(to left,blue, pink,orange);
}
.to-bottom {
    border: 1px solid;
    background: linear-gradient(to solid,blue, pink,orange);
}
.to-deg{
    border: 1px solid;
    background: linear-gradient(to deg,red 50%, green 25%,orange);
}
.radian {
    border: 1px solid;
    background: linear-gradient(radiant,red, green,orange);
    width: 120px;
    height: 120px;
}
.radian-porcent{
    border: 1px solid;
    background: linear-gradient(radian-porcent,red 10%, green 20%,orange);
    width: 120px;
    height: 120px;
}